version: '{build}'

image: Visual Studio 2017
skip_tags: true

install:
   - ps: |
      $version = .\Get-ProjectVersion -Verbose -BuildNumber $env:APPVEYOR_BUILD_NUMBER
      Add-AppveyorMessage -Message "Change build version from '$($env:APPVEYOR_BUILD_VERSION)' to '$($version.Build)'."
      Update-AppveyorBuild -Version $version.Build
   - ps: |
      .\Install-ProjectDependencies -Verbose -Force -SkipPublisherCheck

build_script:
   - docker build -t origaminetwork/plantuml Image
  
test_script:
   - ps: |
      New-Item -ItemType directory .\Artifacts | Out-Null
      Invoke-Pester -Path ".\Spec" -OutputFormat NUnitXml -OutputFile '.\Artifacts\Spec.NUnit.xml' -EnableExit -Verbose
  
on_finish:
   - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path '.\Artifacts\Spec.NUnit.xml'))

deploy_script:
   - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -ne "master") {
        Add-AppveyorMessage -Message "Make pull request to process." -Category Warning
        Exit-AppveyorBuild
      }
      Write-Host "$($env:DOCKER_USER)" "$($env:DOCKER_PASS)"
      # TODO: publish image
      # - docker login -u="$env:DOCKER_USER" -p="$env:DOCKER_PASS"
      # - docker push me/myfavoriteapp
