image: Visual Studio 2017
skip_tags: true

install:
   - ps: New-Item -ItemType directory .\Artifacts | Out-Null

build_script:
  - docker build -t origaminetwork/plantuml Image
  
before_test:
  - ps: Install-Module -Name Pester -RequiredVersion 4.3.1 -Force -SkipPublisherCheck

test_script:
  - ps: Invoke-Pester -Path ".\Spec" -OutputFormat NUnitXml -OutputFile '.\Artifacts\Spec.NUnit.xml' -EnableExit -Verbose
  
on_finish:
  - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path '.\Artifacts\Spec.NUnit.xml'))

deploy_script:
  - ps: Write-Host "$($env:DOCKER_USER)" "$($env:DOCKER_PASS)"

  # TODO: publish image
  # - docker login -u="$env:DOCKER_USER" -p="$env:DOCKER_PASS"
  # - docker push me/myfavoriteapp
