version: '{build}'

image: Visual Studio 2017
skip_tags: true


install:
   - ps: |
      $version = .\Get-ProjectVersion -Verbose -BuildNumber $env:APPVEYOR_BUILD_NUMBER
      Add-AppveyorMessage -Message "Change build version from '$($env:APPVEYOR_BUILD_VERSION)' to '$($version.Build)'."
      Update-AppveyorBuild -Version $version.Build
      Set-AppveyorBuildVariable -Name 'BUILD_VERSION' -Value $version.Build
      Set-AppveyorBuildVariable -Name 'PUBLISH_VERSION' -Value $version.Publish
   - ps: |
      $tasks = .\Select-RemainingTask -Verbose -Low Information -Medium Warning -High Error |
        Group-Object -Property Priority |
        % {
          Add-AppveyorMessage -Message "Found $($_.Count) '$($_.Name)' remaining tasks." -Category $_.Name
          Set-AppveyorBuildVariable -Name "BUILD_TASKS_$($_.Name.ToUpper())_COUNT" -Value $_.Count
        }
   - ps: |
      .\Install-ProjectDependencies -Verbose -Force -SkipPublisherCheck


build_script:
   - ps: |
      .\New-DockerImage -Verbose
  
test_script:
   - ps: |
      .\Assert-DockerImage.ps1 -Verbose
    
before_deploy:
   - ps: |
      if ($env:BUILD_TASKS_ERROR_COUNT) {
        Add-AppveyorMessage -Message "Resolve high remaining task to process." -Category Warning
        Exit-AppveyorBuild
      }
   - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -ne "master") {
        Add-AppveyorMessage -Message "Make pull request to process." -Category Warning
        Exit-AppveyorBuild
      }
   - ps: |
      .\Publish-DockerImage.ps1 -Verbose -Tag @($env:PUBLISH_VERSION, $env:BUILD_VERSION)

deploy:
  provider: GitHub
  tag: v$(PUBLISH_VERSION)
  release: $(PUBLISH_VERSION)
  description: 'Build version: $(BUILD_VERSION)'
  auth_token: $(GITHUB_TOKEN)
  draft: false
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true   

on_finish:
   - ps: |
      (. (Resolve-Path 'project.config.ps1')).Artifacts.Path |
        Resolve-Path |
        Get-ChildItem -Recurse -File -Include "*.NUnit.xml" |
        % {
          .\Add-AppveyorTestResult.ps1 $_
          Push-AppveyorArtifact $_
        }
