version: '{build}'

image: Visual Studio 2017
skip_tags: true

install:
   - ps: |
      $version = .\Get-ProjectVersion -Verbose -BuildNumber $env:APPVEYOR_BUILD_NUMBER
      Add-AppveyorMessage -Message "Change build version from '$($env:APPVEYOR_BUILD_VERSION)' to '$($version.Build)'."
      Update-AppveyorBuild -Version $version.Build
   - ps: |
      $tasks = .\Select-RemainingTask -Verbose -Low Information -Medium Warning -High Error |
        Group-Object -Property Priority |
        % {
          Add-AppveyorMessage -Message "Found $($_.Count) '$($_.Name)' remaining tasks." -Category $_.Name
          Set-AppveyorBuildVariable -Name "BUILD_TASKS_$($_.Name.ToUpper())_COUNT" -Value $_.Count
        }
   - ps: |
      .\Install-ProjectDependencies -Verbose -Force -SkipPublisherCheck

build_script:
   - ps: |
      .\New-DockerImage -Verbose
  
test_script:
   - ps: |
      # FIXME: [#6 4.1.] invoke specification (script)
      New-Item -ItemType directory .\Artifacts | Out-Null
      Invoke-Pester -Path ".\Spec" -OutputFormat NUnitXml -OutputFile '.\Artifacts\Spec.NUnit.xml' -EnableExit -Verbose
  
on_finish:
  # FIXME: [#6 4.2.] report results (script)
   - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path '.\Artifacts\Spec.NUnit.xml'))
  # FIXME: [#6 4.2.] publish results as CI/CD artifacts
  
deploy_script:
   - ps: |
      if ($env:BUILD_TASKS_ERROR_COUNT) {
        Add-AppveyorMessage -Message "Resolve high remaining task to process." -Category Warning
        Exit-AppveyorBuild
      }
   - ps: |
      if ($env:APPVEYOR_REPO_BRANCH -ne "master") {
        Add-AppveyorMessage -Message "Make pull request to process." -Category Warning
        Exit-AppveyorBuild
      }
   - ps: |
      Write-Host "$($env:DOCKER_USER)" "$($env:DOCKER_PASS)"
      # FIXME: [#6 5.] publish image
      # - docker login -u="$env:DOCKER_USER" -p="$env:DOCKER_PASS"
      # - docker push me/myfavoriteapp
