version: '{build}'

image: Visual Studio 2017
skip_tags: true

install:
   - ps: |
      $version = .\Get-ProjectVersion -Verbose -BuildNumber $env:APPVEYOR_BUILD_NUMBER
      Add-AppveyorMessage -Message "Change build version from '$($env:APPVEYOR_BUILD_VERSION)' to '$($version.Build)'."
      Update-AppveyorBuild -Version $version.Build
   - ps: |
      $tasks = .\Select-RemainingTask -Verbose |
        Group-Object -Property Priority -AsHashTable
      if ($tasks.Low) {
        Add-AppveyorMessage -Message "Found $($tasks.Low.Count) tasks with low priority."
      }
      if ($tasks.Medium) {
        Add-AppveyorMessage -Message "Found $($tasks.Medium.Count) tasks with medium priority." -Category Warning
      }
      if ($tasks.High) {
        Add-AppveyorMessage -Message "Found $($tasks.High.Count) tasks with high priority." -Category Error
        # TBD: Set the flag with results
      }

   - ps: |
      .\Install-ProjectDependencies -Verbose -Force -SkipPublisherCheck

build_script:
   - ps: |
      .\New-DockerImage -Verbose
  
test_script:
   - ps: |
      New-Item -ItemType directory .\Artifacts | Out-Null
      Invoke-Pester -Path ".\Spec" -OutputFormat NUnitXml -OutputFile '.\Artifacts\Spec.NUnit.xml' -EnableExit -Verbose
  
on_finish:
   - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path '.\Artifacts\Spec.NUnit.xml'))

deploy_script:
   - ps: |
      # FIXME: do not publish if there are high priority tasks
      if ($env:APPVEYOR_REPO_BRANCH -ne "master") {
        Add-AppveyorMessage -Message "Make pull request to process." -Category Warning
        Exit-AppveyorBuild
      }
      Write-Host "$($env:DOCKER_USER)" "$($env:DOCKER_PASS)"
      # FIXME: publish image
      # - docker login -u="$env:DOCKER_USER" -p="$env:DOCKER_PASS"
      # - docker push me/myfavoriteapp
